body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url(dsnake.jpg);
}
.container{
    margin: 0;
    padding: 0;
}

#le{
    width: 130px;
    height: 80px;
    position: absolute;
    top: 60px;
    left: 330px;
}
    h1{
        color: aliceblue;
        font-size: 50px;
        margin-top: 0;
        margin-left: 20vh
    }

#ri{
    width: 130px;
    height: 80px;
    position: relative;
    top: 50px
}
#board{
    border-radius: 20px;

}